HOST=localhost
PORT=4001

POSTGRES_HOST="localhost"
POSTGRES_PORT=5432
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="password"
POSTGRES_DATABASE="nest_postgres"

ALLOW_WEBSITE_URLS="http://localhost:3000"